// Raspberry Pi DT overlay: Microchip LAN8651/LAN8650 on SPI0 (CE0)
// IRQ: BCM GPIO6 (falling edge)
// SPI must be enabled in config.txt:
//     dtparam=spi=on
//
// Supported Raspberry Pi models (SPI0-based):
//   - Raspberry Pi Zero / Zero W / Zero 2 W
//   - Raspberry Pi 1 (A/B/B+)
//   - Raspberry Pi 2 (v1.1 / v1.2)
//   - Raspberry Pi 3 (3A+, 3B, 3B+)
//   - Raspberry Pi 4 (4B, 400, CM4)
//   - Raspberry Pi 5
//
// Notes:
//   - Uses SPI0 + CE0
//   - Uses BCM GPIO numbering
//   - Works across bcm2835 / bcm2711 / bcm2712


/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2711", "brcm,bcm2712";

	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			/* Reserve all three chip-selects already in the boot overlay */
			num-cs = <3>;
			cs-gpios =
				<&gpio 8  GPIO_ACTIVE_LOW>,   /* I   -> CE0 */
				<&gpio 7  GPIO_ACTIVE_LOW>,   /* II  -> CE1 */
				<&gpio 16 GPIO_ACTIVE_LOW>;   /* III -> CS2 */

			can0: can@0 {
				compatible = "microchip,mcp2518fd";
				reg = <0>;

				interrupt-parent = <&gpio>;
				interrupts = <6 IRQ_TYPE_LEVEL_LOW>;

				spi-max-frequency = <20000000>;

				clocks = <&mcp2518fd_CLK_CAN_I>;
				status = "okay";
			};
		};
	};

	/* disable spidev on CE0 because CE0 is used by this BE-IIS HAT++ device */
	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
	/* GPIO5,GPIO6,GPIO12,GPIO17,GPIO27 as input, no pull (IRQ pin) */
	fragment@2 {
	    target = <&gpio>;
	    __overlay__ {
		be_iis_shared_irq_pins: be-iis-shared-irq-pins {
			brcm,pins = <5 6 12 17 27>;
			brcm,function = <0 0 0 0 0>;
			brcm,pull = <2 2 2 2 2>;
		};
	    };
	};
	
	/* disable spidev on CE1 to keep the second chip-select free for BE-IIS HAT++ use */
	fragment@3 {
		target = <&spidev1>;
		__overlay__ {
		status = "disabled";
		};
	};

	fragment@9 {
	target = <&i2c0>;
	__overlay__ {
		#address-cells = <1>;
		#size-cells = <0>;

		ee50: eeprom@50 {
			compatible = "atmel,24c32";
			reg = <0x50>;
			status = "okay";
		};
		
		ee60: eeprom@60 {
			compatible = "atmel,24c32";
			reg = <0x60>;
			status = "okay";
		};

		ee70: eeprom@70 {
			compatible = "atmel,24c32";
			reg = <0x70>;
			status = "okay";
		};
		
		ee74: eeprom@74 {
			compatible = "atmel,24c32";
			reg = <0x74>;
			status = "okay";
		};
		
		ee76: eeprom@76 {
			compatible = "atmel,24c32";
			reg = <0x76>;
			status = "okay";
		};
	};
};

fragment@10 {
	target = <&gpio>;
	__overlay__ {
		be_iis_porst: be-iis-porst {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "BE-IIS-Power-on-reset";
		};
	};
};

fragment@22 {
	target-path = "/clocks";
	__overlay__ {
		mcp2518fd_CLK_CAN_I: mcp2518fd_CLK_CAN_I {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <40000000>;
		};
	};
};

__overrides__ {
		int_pin = <&can0>, "interrupts:0";
		speed   = <&can0>, "spi-max-frequency:0";
		cs      = <&can0>, "reg:0";
		osc     = <&mcp2518fd_CLK_CAN_I>, "clock-frequency:0";
	};
};

